{% if is_expr_granted("isAuthenticated()") %}
{{ user.email }} <a href="{{path('fos_user_security_logout')}}">{% trans %}Logout{% endtrans %}</a>
{% else %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="top_login">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

    <p>
        {#<label for="username">Zaloguj się:</label>#}
    <input type="text" onclick="if(this.value == 'Login') this.value=''" id="username" name="_username" value="Login"/>
        <input type="text" onclick="this.type='password'; this.value=''" id="password" name="_password" value="Hasło"/>
        <input type="submit" id="_submit" name="_submit"
               value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" style="position:relative;top:2px"/>
        <label for="remember_me" class="normal">Zapamiętaj mnie</label>

        <a href="{{path('fos_user_registration_register')}}"><input type="button" id="_submit" name="_submit"
                                                                    value="Rejestracja&raquo;"/></a>
    </p>


</form>


        {% endif %}