{% if is_expr_granted("isAuthenticated()") %}
{{ user.email }} <a href="{{path('fos_user_security_logout')}}">{% trans %}Logout{% endtrans %}</a>
{% else %}
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value=""/>

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password"/>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
</form>
        {% endif %}