{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<h3>{% trans %}Witaj{% endtrans %}</h3>
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    <p>Teraz <a href="{{path('default')}}">Znajdź Wypad</a> lub <a href="{{path('trip_new')}}">Dodaj Nowy Wypad</a></p>

    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
    
{% endblock fos_user_content %}
