{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="Roundsquare grid_8 push_4" >
    <h5>Logowanie</h5>
    {% if error %}
    <div class="current_status error">{{ error|trans }}</div>
    {% endif %}
    <div class=" sans_serif">
<form action="{{ path("fos_user_security_check") }}" method="post" >
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    
    
    <label class="grid_4" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}"/>

    <label class="grid_4" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password"/>

    <span class="grid_4">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    </span></br>
    <input  type="submit"  class="Button midButton" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>

<br/>
<br/>
    <p style="text-align: center">Nie masz konta? <a href="{{path('fos_user_registration_register')}}">Zarejestruj się</a></p>
    <p style="text-align: center">Nie pamiętasz hasła? <a href="{{path('fos_user_resetting_request')}}">Przypomnij</a></p>
    </form>
    </div>
</div>
{% endblock fos_user_content %}
