{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}
{% block content %}<h1>{%trans%}Trip edit{%endtrans%}</h1>

<form action="{{ path('trip_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<div class="help">
    Opisz trase, którą masz zamiar jechać. ile kilometrów masz zamiar zrobić dziennie, jakimi drogami i w jakim tempie.
    Napisz jak dużo jeździsz, zachęć (lub zniechęć) początkujących motocyklistów.
    Jeżeli planujesz nocleg, to opisz czego można się spodziewać i koszt.
    Przed wyjazdem pamiętaj o przypomnieniu wszyskim zasad jazdy w grupie.
</div>

<div class="help">
    Oznacz miejsce z którego wyruszasz. Wkrótce dodamy możliwość oznaczania innych miejsc, na razie użyj do tego opisu.
</div>


<div class="help">
    Jeżeli nie chcesz podawać dokładnej lokalizacji oznacz skrzyżowanie, lub centrum miejscowości nieopodal.
    W opisie dla uczestników wyjaśnij gdzie dokładnie jest spot.
    Wkrótce lepsze możliwości ukrywania lokalizacji przed obcymi.
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('trip') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('trip_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}
