{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}
{% block title %}
{{trip.title|capitalize}} - {{parent()}}
{% endblock title %}

{% block content %}

<div class="grid_16">
<h1>{{trip.title}}</h1>
</div>

{% if editAllowed  %}
    {% render 'WodorNetMotoTripBundle:TripSignup:signupCandidatesList'  with {'id':  trip.id }%}
{% endif %}


<div class="clear"></div>

<div class="grid_8">
    <div class="grid_8 alpha omega Roundsquare ">
        <div class=" status">
            <h6>Status: <b>{{userAssociationStatus|trans}}</b></h6>
            {# przyciski dolaczania / rezygnacji #}
            {% if userAssociationStatus == 'trip.userrelation.candidate' or  userAssociationStatus == 'trip.userrelation.attendee' %}
                <a href="{{ path('tripsignup_resign',{ 'id': tripSignup.id }) }}" class="Button midButton">{% trans %}Resign from the attendance{% endtrans %}</a>
                {% endif %}
                {% if joinAllowed %}
                <a href="{{ path('signup',{ 'id': trip.id }) }}" class="Button midButton">{% trans %}Join this trip{% endtrans %}</a>
                {% endif %}
            {# end przyciski dolaczania / rezygnacji #}

            {% if editAllowed  %}
                <a href="{{ path('trip_edit', { 'id': trip.id }) }}" class="Button midButton">{% trans %}Edit{% endtrans %}</a>
                <a href="{{ path('trip_delete', { 'id': trip.id }) }}" class="Button midButton" onclick="return confirm('Na pewno usunąć wypad {{trip.title}} ?\nTej akcji nie można cofnąć!' )">{% trans %}Delete{% endtrans %}</a>
            {% endif %}
            {#<a href="{{ path('trip') }}" class="Button midButton">{% trans %}Back to the list{% endtrans %}</a>#}
        </div>
    </div>

    <div class="trip_details grid_8 alpha omega">

        <div class="beautifull_watches grid_8 alpha omega">

            <div class="watches">
                <div class="grid_2 overflowed">
                    <div class="date">{{ 'Start'|trans }}<br/><h5>{{trip.startDate.format("H:i")}}</h5></div>
                    <div title="{{ trip.startDate|intldate }}" class="month_all month_{{trip.startDate.format("m")}}">
                        <span >{{trip.startDate.format("d")}}</span></div>
                    <div class="date lower">{{trip.startDate.format("Y")}}</div>
                    </div>

                <div class="grid_1 overflowed omega pull_1" style="margin-left: 30px;">
                    <div class="date">{{ 'Powrót'|trans }}<br/><h5>{{trip.endDate.format("H:i")}}</h5></div>
                    <div title="{{ trip.startDate|intldate }}" class="month_all month_{{trip.endDate.format("m")}}">
                        <span title="{{ trip.endDate|intldate }}">{{trip.endDate.format("d")}}</span>
                    </div>
                    <div class="date lower">{{trip.startDate.format("Y")}}</div>
                </div>
            </div>
            <h5 class="description">Opis</h5>
            <p class="description">{{ trip.description }}{% if showAllowed %}
            <h5 class="description">Dla uczestników</h5>
            <p class="description">{{ trip.descriptionPrivate }}</p>
            {% endif %}
        </div>


    </div>
    <div class="Roundsquare grid_8 overflowed alpha omega">
        {% render 'WodorNetMotoTripBundle:TripSignup:signupList' with {'id':  trip.id }%}<span id="lista"></span>
    </div>


{#
    <div class="grid_8" id="invite">
        Zaproś
        <a href=http://onet.pl">
            <div id="inviteDialog">

            </div>
        </a>
    </div>

#}


</div>
<div class="grid_8 alpha omega">
    {{ google_map_container(map) }}
    {{ google_map_js(map) }}
    {{ google_map_css(map) }}
</div>

<div class="clear"></div>

{#
<script type="text/javascript">
    $(function() {
        $( "#inviteDialog" ).dialog({ autoOpen: false });
        $("#invite").click(function() { $("#inviteDialog").dialog('open');});
    });
</script>
    #}


{% endblock %}
