{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}
{% block content %}
<h1>{% trans %}Trip{% endtrans %}</h1>

<a href="{{ path('trip') }}"> {% trans %}Back to the list{% endtrans %} </a>

<div>
    <p>{% trans %}Start at{% endtrans %}</p>

    <p>{{ trip.startDate|intldate|title }}</p>
</div>


<div>
    <p>{% trans %}End at{% endtrans %}</p>

    <p>{{ trip.endDate|intldate|title }}</p>
</div>

<div>{{ trip.description }}</div>


<a href="{{ path('signup',{ 'tripId': trip.id }) }}">{% trans %}Join this trip{% endtrans %}</a>

{% if is_granted('ROLE_ADMIN') or is_granted('EDIT', trip)  %}
<a href="{{ path('trip_edit', { 'id': trip.id }) }}">{% trans %}Edit{% endtrans %}</a>
{% endif %}

{% if is_granted('ROLE_ADMIN') or is_granted('DELETE', trip)  %}
<a href="{{ path('trip_delete', { 'id': trip.id }) }}">{% trans %}Delete{% endtrans %}</a>
{% endif %}


{% endblock %}
