{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}
{% block content %}


<h1>{{trip.title}}</h1>


<div class="grid_8">
    <p>{% trans %}Start at{% endtrans %} {{ trip.startDate|intldate }}</p>

    <p>   {% trans %}End at{% endtrans %} {{ trip.endDate|intldate }}</p>

    <p>{{ trip.description }}</p>


    <a href="{{ path('trip') }}"> {% trans %}Back to the list{% endtrans %} </a>

</div>

<div class="grid_8">
    {{ google_map_container(map) }}
    {{ google_map_js(map) }}
    {{ google_map_css(map) }}
</div>


<a href="{{ path('signup',{ 'id': trip.id }) }}">{% trans %}Join this trip{% endtrans %}</a>

{% if is_granted('ROLE_ADMIN') or is_granted('EDIT', trip)  %}
<a href="{{ path('trip_edit', { 'id': trip.id }) }}">{% trans %}Edit{% endtrans %}</a>
{% endif %}

{% if is_granted('ROLE_ADMIN') or is_granted('DELETE', trip)  %}
<a href="{{ path('trip_delete', { 'id': trip.id }) }}">{% trans %}Delete{% endtrans %}</a>
{% endif %}


{% render 'WodorNetMotoTripBundle:TripSignup:signupList' with {'id':  trip.id }%}

{% if is_granted('ROLE_ADMIN') or is_granted('EDIT', trip)  %}
{% render 'WodorNetMotoTripBundle:TripSignup:signupCandidatesList'  with {'id':  trip.id }%}
{% endif %}


{% endblock %}
