{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}
{% block content %}

<h1>{{trip.title}}</h1>
<div id="association_manage">
    <span class="current_status">{{userAssociationStatus|trans}}</span>

    {% if userAssociationStatus == 'trip.userrelation.candidate' or  userAssociationStatus == 'trip.userrelation.attendee' %}
        <a href="{{ path('tripsignup_resign',{ 'id': trip.id }) }}" class="Button midButton">{% trans %}Resign from the attendance{% endtrans %}</a>
    {% endif %}

    {% if userAssociationStatus == 'trip.userrelation.unrelated' %}
    <a href="{{ path('signup',{ 'id': trip.id }) }}" class="Button midButton">{% trans %}Join this trip{% endtrans %}</a>
    {% endif %}

</div>


<div class="grid_8">
    <p><strong>{% trans %}Start at{% endtrans %}</strong> {{ trip.startDate|intldate }}</p>

    <p><strong>{% trans %}End at{% endtrans %}</strong> {{ trip.endDate|intldate }}</p>

    <p>{{ trip.description }}</p>
    {% if showAllowed %}
    <p>{{ trip.descriptionPrivate }}</p>
    {% endif %}


    <a href="{{ path('trip') }}" class="Button midButton"> {% trans %}Back to the list{% endtrans %} </a>
    <a href="#lista" class="Button midButton">Lista uczestników</a>

</div>

<div class="grid_8">
    {{ google_map_container(map) }}
    {{ google_map_js(map) }}
    {{ google_map_css(map) }}
</div>



{% if editAllowed  %}
<a href="{{ path('trip_edit', { 'id': trip.id }) }}" class="Button midButton">{% trans %}Edit{% endtrans %}</a>
<a href="{{ path('trip_delete', { 'id': trip.id }) }}" class="Button midButton">{% trans %}Delete{% endtrans %}</a>
{% endif %}


{% render 'WodorNetMotoTripBundle:TripSignup:signupList' with {'id':  trip.id }%}<span id="lista"></Span>

{% if editAllowed  %}
{% render 'WodorNetMotoTripBundle:TripSignup:signupCandidatesList'  with {'id':  trip.id }%}
{% endif %}


{% endblock %}
