{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}
{% block content %}
<h1>{% trans %}Trip{% endtrans %}</h1>

<div>
    <p>{% trans %}Start at{% endtrans %}</p>

    <p>{{ trip.startDate|intldate|title }}</p>
</div>


<div>
    <p>{% trans %}End at{% endtrans %}</p>

    <p>{{ trip.endDate|intldate|title }}</p>
</div>

<div>{{ trip.description }}</div>


<input type="button" value="Dołącz"/>


<ul class="record_actions">
    <li>
        <a href="{{ path('trip') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('signup',{ 'tripId': trip.id }) }}">
            Dołącz
        </a>
    </li>
    <li>
        <a href="{{ path('trip_edit', { 'id': trip.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('trip_give', { 'id': trip.id }) }}">
            Give
        </a>
    </li>
    <li>
        <form action="{{ path('trip_delete', { 'id': trip.id }) }}" method="post">
    </li>
</ul>

{% endblock %}
