{%spaceless%}
<div class=" month_all month_{{item.startDate.format("m")}}">

<span>{{item.startDate.format("d")}}</span>
</div>
<!--COLUMNSEPARATOR-->
<table class="tabela_lista">
    <tr><td colspan="3"><a class="trip_name" href="{{ path('trip_show', { 'id': item.id }) }}">{{item.title}}</a></td></tr>
    <tr>
        <td class="duration ikona zegarek">{{item.getDuration|intlinterval}}</td>
        <td>{% for road in item.roadTypes%}
                <div class="ikona road_{{road}}">&nbsp;{{road}}</div>
            {%endfor%}
        </td>
        <td></td>
    </tr>
</table>
{%endspaceless%}





