<a href="{{ path('trip_show', { 'id': item.id }) }}">{{item.title}}</a>
<!--COLUMNSEPARATOR-->
<div class="month_{{item.startDate.format("m")}}">
{{item.startDate.format("d")}}
</div>
{{item.getDuration|intlinterval}}
