<div class="row_underline">
    <div class="grid_1">
        <div class="month_all month_{{item.startDate.format("m")}}">
            <span>{{item.startDate.format("d")}}</span>
        </div>
    </div>
    <div class="grid_5 push_1">
    <a class="trip_name" href="{{ path('trip_show', { 'id': item.id }) }}">{{item.title|truncate(25, true, '...')}}</a>
    <p>{{item.description|truncate(80) }}</p>
    </div>
    <div class=" grid_1 omega duration ikona zegarek">{{item.getDuration|intlinterval}}</div>
</div>
<div class="clearfix"></div>