{% block mapPoint_widget %}
{% spaceless %}
<div {{ block('widget_container_attributes') }}>

<script type="text/javascript">
    setTripMarker = function(event){
        marker_trip.setPosition(event.latLng); marker_trip.setOptions({visible: true})
        $('#{{form.lat.get('id')}}').val(event.latLng.lat());
        $('#{{form.lng.get('id')}}').val(event.latLng.lng());
    }
</script>

{{ form_widget(form.lat) }}
{{ form_widget(form.lng) }}

<noscript>
    Gdybyś miał włączony javascript to mógłbyś po prostu kliknąć na mapie :)<br>
   Lat: <input type=text name="{{form.lat.vars.full_name}}" value="{{form.lat.vars.value}}">
   Lang: <input type=text name="{{form.lng.vars.full_name}}" value="{{form.lng.vars.value}}">
</noscript>

    {{ google_map_container(map) }}
    {{ google_map_js(map) }}
    {{ google_map_css(map) }}



</div>
{% endspaceless %}
{% endblock mapPoint_widget %}