<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


    <link rel="stylesheet" href="{{ asset('bundles/wodornetmototrip/css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/wodornetmototrip/css/text.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/wodornetmototrip/css/960_16_col.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/wodornetmototrip/css/mototrips.css') }}">

    <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Emblema+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>

    <title>{% block title %}Demo Bundle{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

    {% include 'HudsonJQueryBundle::_jQueryUI.html.twig' %}
    <script type="text/javascript" src="{{ asset('bundles/wodornetmototrip/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/wodornetmototrip/js/mapevents.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


    {# <link rel="stylesheet" href="{{ asset('bundles/wodornetmototrip/css/demo_table.css') }}" type="text/css" media="all"/> #}
    </head>
<body>
<div class="container_16">
    <div class="grid_8 prefix_8 userbar">
        {% if '/login' not in app.request.getRequestUri %}
        {% render "WodorNetMotoTripBundle:Default:userBar" %}
        {% endif %}
    </div>

    <div class="logo grid_7  ">
        <a href="{{ path('default') }}">
            <img src="{{ asset('bundles/wodornetmototrip/images/logo.png') }}" alt="Logo Mototrips">
        </a>
    </div>

    <div class="clear"></div>
    {% block page_menu %}

    <div class="menu grid_16">
        <a href="{{ path('default') }}" class="menuButton">Start</a>
        <a href="{{ path('trip_new') }}" class="menuButton">Dodaj Wypad</a>
        <a href="{{ path('trip') }}" class="menuButton">Wypady</a>
        <a href="{{ path('dashboard') }}" id="dashboard" class="menuButton">Moje Wypady</a>
        <a href="{{ path('fos_user_registration_register') }}" class="menuButton">Rejestracja</a>
    </div>
    {% endblock %}


    {% if app.session.flash('notice') %}
    <div class="flash-message">
        <em>Notice</em>: {{ app.session.flash('notice') }}
    </div>
    {% endif %}

    <div class="symfony-content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="grid_16 footer">
        Code by <a href="http://wodor.net/">wodor.net</a>. Design by <a href="http://lepris.pl/">lepris.pl</a>. Powered by <a href="http://symfony.com">Symfony2</a>.<br>
        Uwagi i sugestie: <a href="mailto:info@motowypady.pl" >info@motowypady.pl</a>
    </div>

</div>
</body>
</html>

