{% block list_content %}
<div class="list_snippet ">
    <h2 >{%trans%}Uczestnicy{%endtrans%}</h2>

    {%if tripSignups|length > 0%}
    <table class="dataTable2 candidatesTable" id="approvedList">
        <thead>
        <tr>
            <th class="kolumna_1">Nazwa</th>
            <th class="kolumna_2">Data</th>
            <th class="kolumna_3">Akcje</th>
        </tr>
        </thead>
        <tbody>

        {% for item in tripSignups %}
        <tr class="brownRow">
            <td class="kolumna_1">
                <a href="{{ path('tripsignup_show', { 'id': item.id}) }}">{{item.user.username}}</a>
            </td>
            <td class="kolumna_2">
                {{item.signupDate.format("Y-m-d")}}
            </td>
            <td class="kolumna_3">
                {% if tripEditAllowed %}
                <a class="Button midButton" href="{{ path('tripsignup_show', { 'id': item.id}) }}"
                   title="{% trans %}Details{% endtrans %}">{% trans %}Look into{% endtrans %}</a>
                <a class="Button midButton" href="{{ path('tripsignup_disapprove', { 'id': item.id}) }}"
                title="{% trans %}Disapprove{% endtrans %}">{% trans %}Disapprove{% endtrans %}</a>
                {% endif %}


                {% if signupPerm.canEdit(item) %}
                <a class="Button midButton" href="{{ path('tripsignup_resign', { 'id': item.id}) }}"
                   title="{% trans %}Resign{% endtrans %}">{% trans %}Resign{% endtrans %}</a>
                {% endif %}

            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    {%else%}
        <p class="description">Nikt jeszcze nie zgłosił się do tego wypadu.</p>
    {%endif%}
</div>

{% endblock %}
