{% block list_content %}
{% if tripSignups|length > 0 %}
<h2>{%trans%}Nowe zgłoszenia{%endtrans%}</h2>
<table class="candidatesTable">
    <thead>
    <tr>
        <th class="kolumna_1">Użytkownik</th>
        <th class="kolumna_2">Data przyłączenia</th>
        <th class="kolumna_3">Akcje</th>
    </tr>
    </thead>
    <tbody>
    {% for item in tripSignups %}
    <tr class="wiersz_1">
        <td class="kolumna_1">
            <a href="{{ path('tripsignup_show', { 'id': item.id}) }}">{{item.user.username}}</a>
        </td>
        <td class="kolumna_2">
            {{item.signupDate.format("Y-m-d")}}
        </td>
        <td class="kolumna_3">
            <a class="Button midButton" href="{{ path('tripsignup_show', { 'id': item.id}) }}"
               title="{% trans %}Details{% endtrans %}">{% trans %}Look into{% endtrans %}</a>
            <a href="{{ path('tripsignup_approve', { 'id': item.id}) }}"
               class="Button midButton"
            title="{% trans %}Approve{% endtrans %}">{% trans %}Approve{% endtrans %}</a>
            <a href="{{ path('tripsignup_reject', { 'id': item.id}) }}"
               class="Button midButton" onclick="confirm('Odrzucic bezpowrotnie to zgłoszenie?')"
               title="{% trans %}Approve{% endtrans %}">{% trans %}Odrzuć{% endtrans %}</a>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

