{% block list_content %}
<h2>{%trans%}Uczestnicy niezatwierdzeni{%endtrans%}</h2>
<table class="candidatesTable">
    <thead>
    <tr>
        <th class="kolumna_1">Nazwa</th>
        <th class="kolumna_2">Data</th>
        <th class="kolumna_3">Akcje</th>
    </tr>
    </thead>
    <tbody>
    {% for item in tripSignups %}
    <tr class="wiersz_1">
        <td class="kolumna_1">
            <a href="{{ path('trip_show', { 'id': item.id }) }}">{{item.user.username}}</a>
        </td>
        <td class="kolumna_2">
            {{item.signupDate.format("Y-m-d")}}
        </td>
        <td class="kolumna_3">
            <a href="{{ path('tripsignup_approve', { 'id': item.id}) }}"
               class="Button midButton"
               title="{% trans %}Approve{% endtrans %}">{% trans %}Approve{% endtrans %}</a>

            <a href="{{ path('tripsignup_reject', { 'id': item.id}) }}"
               class="Button midButton"
               title="{% trans %}Approve{% endtrans %}">{% trans %}Odrzuć{% endtrans %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

