<h1>TripSignup list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Signupdate</th>
            <th>Signuptype</th>
            <th>Testarray</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('tripsignup_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.signupDate %}{{ entity.signupDate|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.signupType }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('tripsignup_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tripsignup_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('tripsignup_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
