{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}
{% block content %}

<h1>Zgłoszenie do {{tripSignup.trip.title}}</h1>
Użytkownik:
{% render "WodorNetMotoTripBundle:Dashboard:userShow" with {"user":tripSignup.user}%}

<div class="record_properties">

    Data przyłączenia do wypadu:
        <p>{{ tripSignup.signupDate|intldate }}</p>

    {% if editAllowed %}
        <h6>Wiadomość:</h6>
        <p>{{ tripSignup.description }}</p>
    {% endif %}

</div>

<div class="record_actions">

    {% if editAllowed %}
        <a href="{{ path('tripsignup_approve', {'id': tripSignup.id}) }}" class="Button midButton">
            Zaakceptuj
        </a>
    {% endif %}

    <a href="{{ path('trip_show',{'id': tripSignup.gettrip.id}) }}" class="Button midButton">
        &crarr; Powrót Do Wypadu
    </a>


</div>
{% endblock %}