{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}
{% block content %}

<h1>Zgłoszenie do {{tripSignup.trip.title}}</h1>

{% render "WodorNetMotoTripBundle:Dashboard:userShow" with {"user":tripSignup.user}%}

<div class="grid_8">
    <div class="status">
    Przyłączył się:
        <p>{{ tripSignup.signupDate|intldate }}</p>
    </div>

    {% if editAllowed %}
        <h6>Wiadomość:</h6>
        <p>{{ tripSignup.description }}</p>
    {% endif %}


    {% if editAllowed %}
        <a href="{{ path('tripsignup_approve', {'id': tripSignup.id}) }}" class="Button midButton">{% trans %}Approve{% endtrans %}</a>
        <a href="{{ path('tripsignup_reject', {'id': tripSignup.id}) }}" class="Button midButton">{% trans %}Disapprove{% endtrans %}</a>
    {% endif %}

    <a href="{{ path('trip_show',{'id': tripSignup.gettrip.id}) }}" class="Button midButton">&crarr; Powrót Do Wypadu</a>

</div>


{% endblock %}