{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}
{% block content %}

<h1>TripSignup</h1>

<table class="record_properties">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ tripSignup.id }}</td>
    </tr>
    <tr>
        <th>Signupdate</th>
        <td>{{ tripSignup.signupDate|intldate }}</td>
    </tr>
    <tr>
        <th>Signuptype</th>
        <td>{{ tripSignup.signupType }}</td>
    </tr>
    <tr>
        <th>Testarray</th>
        <td>{{ tripSignup.description }}</td>
    </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('tripsignup') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tripsignup_edit', { 'id': tripSignup.id }) }}">
            Edit
        </a>
    </li>
    <li>
    </li>
</ul>
        {% endblock %}