{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}

{% block content %}
<h1>{% trans %}Join this trip{% endtrans %}</h1>

<form action="{{ path('signup',{'id' :entity.trip.id }) }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}
    <label class="big required" for="wodornet_mototripbundle_tripsignuptype_description">{% trans %}Describe
        Yourself{% endtrans %}</label>
    {{ form_widget(form.description) }}
    {{ form_rest(form)}}


    <p>
        <button type="submit">{% trans %}Send{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tripsignup') }}" class="Button">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}
