{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}

{% block content %}
<h1>{% trans %}Join this trip{% endtrans %}</h1>

<form action="{{ path('signup',{'id' :entity.trip.id }) }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}
    <label class="big required" for="wodornet_mototripbundle_tripsignuptype_description">
        {% trans %}Describe Yourself{% endtrans %}</label>
    {{ form_widget(form.description) }}
    {{ form_rest(form)}}

    <p>
        <button type="submit" class="Button">{% trans %}Send{% endtrans %}</button>
        <a href="{{path('trip')}}" class="Button">{% trans %}Cancel{% endtrans %}</a>
        
    </p>
</form>
{% endblock %}
